@use "variables";

/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{variables.$white-color};
  --global-code-bg-color: #{variables.$code-bg-color-light};
  --global-text-color: #{variables.$black-color};
  --global-text-color-light: #{variables.$grey-color};
  --global-theme-color: #{variables.$cyan-color};
  --global-theme-color-light: #{variables.$light-cyan-color};
  --global-hover-color: #{variables.$cyan-color};
  --global-footer-bg-color: #{variables.$grey-color-dark};
  --global-footer-text-color: #{variables.$grey-color-light};
  --global-footer-link-color: #{variables.$white-color};
  --global-distill-app-color: #{variables.$grey-color};

  .fa-sun {
    display: none;
  }

  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{variables.$grey-color-dark};
  --global-code-bg-color: #{variables.$code-bg-color-dark};
  --global-text-color: #{variables.$grey-color-light};
  --global-text-color-light: #{variables.$grey-color-light};
  --global-theme-color: #{variables.$cyan-color};
  --global-theme-color-light: #{variables.$light-cyan-color};
  --global-hover-color: #{variables.$cyan-color};
  --global-footer-bg-color: #{variables.$grey-color-light};
  --global-footer-text-color: #{variables.$grey-color-dark};
  --global-footer-link-color: #{variables.$black-color};
  --global-distill-app-color: #{variables.$grey-color-light};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .fa-moon {
    display: none;
  }
}